body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
  scrollbar-color: #111111 #fff;
  scrollbar-width: thin;
  line-height: calc(2.5rem - 8px);
  background-color: #fff;
}

p {
  font-size: 17px;
}

span {
  font-size: 22px;
  font-weight: 500;
}

h2 {
  font-size: 42px;
  font-weight: 500;
}

h3 {
  font-size: 38px;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-size: 17px;
}

::placeholder {
  color: #6f6f6f;
}

/* NAVIGATION STYLES */
.desktop-menu {
  display: flex;
  position: fixed;
  padding: 10px;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #000000;
}

.container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  padding: 5px;
}

.logo img {
  height: 40px;
}

.nav-links ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  padding: 5px;
}

.nav-links ul li {
  padding: 2px;
  margin-right: 20px;
}

.links {
  text-decoration: none;
  color: #8a8a8a;
  white-space: nowrap;
  padding-bottom: 5px;
}

.nav-links ul li a:hover {
  color: #ffffff;
}

.hire-us {
  margin-top: -3px;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 30px;
  transition: all 0.3s linear;
  width: 120px;
  padding: 5px;
  text-align: center;
}

.hire-us span {
  font-size: 16px;
}

.hire-us:hover {
  background-color: #ffffff;
}

.hire-us span:hover {
  color: rgb(0, 0, 0);
  transition: all 0.3s linear;
}

.active {
  color: white;
}

/* mobile-menu */

.menu {
  display: none;
}

.mobile-menu {
  display: none;
  z-index: 99;
  height: auto;
  margin-top: 3.35rem;
  position: fixed;
  background: #fdfdfd;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.mobile-menu ul {
  margin-top: 20px;
  list-style-type: none;
}
.mobile-menu ul li a {
  color: #000000;
}

@media (max-width: 1040px) {
  /* navbar */

  .desktop-menu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #000000;
    border-bottom: 1px solid gainsboro;
  }

  .nav-links {
    display: none;
  }

  .logo {
    display: flex;
    padding: 0px;
    left: 20px;
    position: absolute;
  }

  .logo img {
    height: 35px;
  }

  .menu {
    display: block;
    cursor: pointer;
    padding: 0px;
    right: 20px;
    position: relative;
  }

  .hire-us a {
    color: white !important;
  }

  .hire-us a:hover {
    color: black !important;
  }

  .hire-us {
    width: 120px !important;
    margin-top: 20px;
    padding: 5px !important;
    background-color: black;
    border: 2px solid;
    border-radius: 40px;
    text-align: center;
  }
}

@media (min-width: 1041px) {
  .mobile-menu ul {
    display: none;
  }
}

/* HOME CONTENT */

.hero {
  width: 100%;
  height: 100vh;
  clear: both;
  float: left;
  position: relative;
  /* margin-bottom: 190px; */
}

.hero .contents {
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 125px;
}

.hero .background {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background-size: cover; */
}

.background video {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .background video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background video {
    width: auto;
    height: 100%;
  }
}

.page-title {
  position: relative;
  display: block;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
}

.page-title h1 {
  font-size: 90px;
  color: #fff;
  font-family: Agency FB !important;
  font-weight: 600;
}

.page-title h1:hover {
  color: #fff;
  text-shadow: 1px 2px 3px rgb(237, 32, 32);
}

.bouncing-mouse {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);
  bottom: 30px;
}

.mouse {
  border: 2px solid;
  height: 35px;
  width: 22px;
  border: 1.5px solid white;
  border-radius: 15px;
}

.mouse-btn {
  position: absolute;
  border: 1.35px solid white;
  border-radius: 10px;
  width: 0px;
  height: 8px;
  animation: bouncing-mouse 2s ease-in-out infinite;
}

.home {
  top: 100px;
  position: relative;
}

.details {
  padding: 25px;
}

.greetings span {
  font-size: 24px;
  color: #3c0992;
}

.name h3 {
  font-size: 60px;
  font-weight: 500;
}

.job p {
  font-size: 19px;
}

#green {
  color: #1cbe59;
  font-size: 19px;
}

#purple {
  color: #8067f0;
  font-size: 19px;
}

.description {
  color: #6f6b80;
  font-size: 17px;
  margin-top: 30px;
  padding-right: 90px;
}

.description p {
  margin-bottom: 0px;
}

.info-button {
  display: flex;
  align-items: center;
}

.abt-btn {
  width: auto;
  /* margin-top: 30px; */
}

.abt-btn a {
  display: flex;
  position: relative;
  justify-content: center;
  text-decoration: none;
  background-color: #2a303d;
  border: 3px solid #2a303d;
  border-radius: 60px;
  color: white;
  padding: 5px;
  width: 120px;
  transition: all 0.3s linear;
}

.abt-btn a:hover {
  /* border: 3px solid orangered; */
  color: black;
  background-color: transparent;
}

.abt-btn span {
  font-size: 18px;
}

.social {
  padding-left: 24px;
  position: relative;
  padding-top: 15px;
}

.social ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
  align-content: center;
}

.social img {
  height: 35px;
  background-color: #2a303d;
  transition: all 0.3s ease-in-out;
}

#facebook {
  padding: 10px 15px;
  border-radius: 8px;
}

#facebook:hover {
  height: 30px;
  background-color: rgb(59, 89, 152);
  box-shadow: 1px 1px 3px rgba(59, 89, 152, 0.8);
  padding: 8px 12px;
  border-radius: 10px;
}

#twitter {
  padding: 10px;
  border-radius: 8px;
}

#twitter:hover {
  height: 33px;
  background-color: rgb(0, 172, 238);
  box-shadow: 1px 1px 3px rgba(0, 172, 238, 0.8);
  padding: 12px;
  border-radius: 10px;
}

#instagram {
  padding: 10px;
  border-radius: 8px;
}

#instagram:hover {
  height: 30px;
  background-color: rgb(228, 64, 95);
  box-shadow: 1px 1px 3px rgba(228, 64, 95, 0.8);
  padding: 7px;
  border-radius: 10px;
}

#snapchat {
  padding: 10px;
  border-radius: 8px;
}

#snapchat:hover {
  height: 32px;
  background-color: rgb(239, 248, 75);
  background-color: rgba(239, 248, 75, 0.8);
  padding: 7px;
  border-radius: 10px;
}

.avater {
  width: 50%;
  padding-left: 35px;
}

.avater img {
  height: 400px;
}

.skills {
  display: inline-block;
  position: absolute;
  width: 75px;
  height: 75px;
}

.music img {
  display: flex;
  position: relative;
  height: 60px;
  top: -70px;
  right: 145px;
  animation: bounce 3s ease-in-out infinite;
}

.heart img {
  display: flex;
  position: relative;
  height: 40px;
  top: -25px;
  right: 30px;
  animation: bounce 3s ease-in-out infinite;
}

.playlist img {
  display: flex;
  position: relative;
  height: 80px;
  padding: 10px;
  bottom: -120px;
  right: 220px;
  animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(90px);
  }

  50% {
    transform: translateY(79px);
  }

  100% {
    transform: translateY(90px);
  }
}

@keyframes bouncing-mouse {
  0% {
    transform: translateY(14px);
  }

  50% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(14px);
  }
}

@media (max-width: 1040px) {
  .page-title {
    top: 45%;
  }

  .page-title h1 {
    font-size: 70px;
  }

  .home {
    justify-content: center;
    padding: 0px;
  }

  .skills img {
    display: none;
  }

  .contents.row {
    width: 100%;
    align-items: center;
    margin: 0px;
  }

  .details {
    width: 50%;
    padding: 0px;
  }

  .avater img {
    height: 360px;
  }
}

@media (max-width: 768px) {
  .home {
    top: 55%;
    padding: 5px;
  }

  .contents.row {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  .avater img {
    height: 240px;
  }

  .details {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .name h3 {
    font-size: 48px;
    margin: 10px auto;
  }

  .description {
    padding-right: 0;
    margin-bottom: 10px;
  }

  .info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 390px) {
  .page-title {
    top: 45%;
  }

  .page-title h1 {
    font-size: 50px;
  }

  .avater {
    width: 50%;
    padding-left: 0px;
  }
}

/* TO TOP */

.top {
  display: flex;
  transform: rotate(90deg);
  float: right;
  position: fixed;
  right: 0;
  bottom: 40px;
  z-index: 9;
}

.top a {
  text-decoration: none;
}

.top span {
  font-size: 16px;
  color: #3c0992 !important;
}

/* ABOUT US SECTION */

.about-section {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.about-contents {
  margin-top: 190px;
}

.icon {
  margin-bottom: 40px;
}

.icon img {
  width: 90px;
}

#values {
  background: url(../img/2_004.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about-list {
  display: flex;
  width: 100%;
  height: auto;
}

.about-list ul {
  display: flex;
  list-style: none;
  text-align: center;
  /* width: 100%; */
}

.title {
  margin-bottom: 20px;
}

.title h3 {
  font-size: 23px;
}

.about-list .text {
  font-size: 17px;
  color: #6f6b80;
  padding: 0 18px;
}

.spiral {
  display: flex;
  position: absolute;
  margin: 40px;
  left: 0px;
  width: 100%;
}

.about-details {
  display: flex;
  width: 100%;
  margin-top: 125px;
}

.about-details-image {
  width: 50%;
}

.about-details-image img {
  height: 580px;
}

.wrapper {
  display: grid;
  position: relative;
  left: 0;
}

.number-years {
  position: relative;
  margin-top: -360px;
}

.years {
  display: flex;
  align-items: last baseline;
  padding: 30px 20px 10px 20px;
  background-color: #fff;
  width: 201px;
  box-shadow: 25px 0 65px rgba(54, 32, 152, 0.11);
  border-radius: 8px;
  left: -80px;
  position: absolute;
}

.years h3 {
  font-size: 50px;
  color: #1cbe59;
}

.years span {
  font-size: 18px;
  padding-left: 17px;
  line-height: 1.3;
  color: #000000;
}

.projects {
  position: relative;
}

.total-projects {
  display: flex;
  align-items: last baseline;
  padding: 20px 20px 7px 20px;
  background-color: #fff;
  width: auto;
  box-shadow: 25px 0 65px rgba(54, 32, 152, 0.11);
  border-radius: 8px;
  left: 435px;
  position: absolute;
  margin-top: -100px;
  z-index: -1;
}

.total-projects h3 {
  font-size: 50px;
  color: #6e50f0;
}

.total-projects span {
  font-size: 18px;
  padding-left: 17px;
  line-height: 1.3;
  color: #000000;
}

.about-details-info {
  padding-left: 60px;
}

.role {
  margin: 0 10px 25px;
}

.role span {
  margin-bottom: 6px;
  font-size: 22px;
  color: #3c0992;
}

.role h3 {
  font-size: 40px;
}

.role-details {
  margin-bottom: 47px;
  color: #6f6b80;
}

.hire {
  display: flex;
}

.hire-btn {
  width: auto;
}

.hire-btn a {
  display: flex;
  position: relative;
  justify-content: center;
  text-decoration: none;
  background-color: #2a303d;
  border: 3px solid #2a303d;
  border-radius: 60px;
  color: white;
  padding: 5px;
  width: 120px;
  transition: all 0.3s linear;
}

.hire-btn a:hover {
  color: black !important;
  background-color: transparent;
}

.hire-btn span {
  font-size: 18px;
}

.splash {
  display: flex;
  position: relative;
  float: right;
  top: -70px;
  bottom: 0px;
}

@media (max-width: 1040px) {
  .about-contents {
    display: flex;
    margin: auto;
    right: 0px;
    left: 0px;
    position: relative;
    margin-top: 190px;
  }

  .about-list ul {
    display: grid;
    padding: 0;
    align-items: center;
  }

  .about-list ul li {
    width: 100%;
    margin-bottom: 40px;
  }

  .spiral {
    display: none;
  }

  .about-details {
    display: grid;
    margin: 0;
    margin-top: 112px;
  }

  .about-details-image {
    display: grid;
    position: relative;
    width: 100%;
    padding: 0;
  }

  .about-details-image img {
    display: flex;
    position: relative;
    margin: auto;
    height: 300px;
  }

  .wrapper {
    display: grid;
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .number-years {
    position: relative;
    display: grid;
    align-items: center;
    margin-top: 0px;
  }

  .years {
    display: grid;
    position: relative;
    justify-content: center;
    padding: 15px 0px 18px 0px;
    background-color: #fff;
    width: 100%;
    left: 0px;
  }

  .years span {
    padding-left: 0;
  }

  .projects {
    margin-bottom: 20px;
  }

  .total-projects {
    display: grid;
    position: relative;
    justify-content: center;
    padding: 20px 0px 12px 0px;
    background-color: #fff;
    margin-top: 20px;
    left: 0px;
  }

  .total-projects span {
    padding-left: 0;
  }

  .about-details-info {
    width: 100%;
    padding: 0;
  }

  .role {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .role span {
    font-size: 20px;
  }

  .role h3 {
    font-size: 35px;
  }

  .role-details p {
    text-align: center;
  }

  .hire {
    display: flex;
    justify-content: center;
  }

  .splash {
    display: none;
  }
}

/* PORTFOLIO SECTION  */

.portfolio-section {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.splash-2 {
  position: relative;
  left: 10px;
  top: 160px;
}

.portfolio.row {
  display: grid;
  position: relative;
  margin: auto;
}

.portfolio-head {
  display: grid;
  text-align: center;
  width: 50%;
  margin: auto;
}

.portfolio-head span {
  font-size: 22px;
  color: #3c0992;
  margin-bottom: 6px;
}

.portfolio-head h3 {
  font-size: 38px;
  margin-bottom: 17px;
}

.portfolio-head p {
  color: #6f6b80;
  margin-bottom: 6px;
}

.portfolio-links {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 70px 0 56px 0;
  clear: both;
}

.portfolio-links ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.portfolio ul li {
  padding: 0 50px 0 0;
  display: inline-block;
}

.portfolio-links ul li .links:hover {
  color: #3c0992;
}

.active-portfolio {
  color: #3c0992;
}

/* our gallery */

.gallery-container {
  width: 100%;
  text-align: center;
}

.gallery-container h2 {
  font-size: 28px;
  margin: 40px 0;
  position: relative;
}

.gallery-container h2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #3c0992;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    width: 50px;
  }

  50% {
    width: 100px;
  }
}

/* Gallery */

.gallery {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.all-gallery {
  width: 100%;
}

.all-gallery img {
  height: 450px;
  filter: grayscale(100%);
  padding: 10px;
  transition: 1s ease-in-out;
}

.all-gallery img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.wedding img,
.concert img,
.others img {
  width: 280px;
  height: 180px;
  filter: grayscale(100%);
  padding: 10px;
  transition: 1s ease-in-out;
}

.wedding img:hover,
.concert img:hover,
.others img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.all-gallery span,
.wedding span,
.others span,
.concert span {
  display: grid;
  font-size: 16px;
}

.all-gallery a,
.wedding a,
.others a,
.concert a {
  text-decoration: none;
  color: #3c0992;
}

.paint {
  display: flex;
  justify-content: right;
  margin-top: -240px;
}

@media (max-width: 1040px) {
  .portfolio-section {
    margin-top: 100px;
  }

  .portfolio-head {
    width: 100%;
  }

  .gallery {
    margin: 0px;
  }

  .all-gallery {
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .all-gallery img {
    height: 360px;
  }

  .splash-2 {
    display: none;
  }
  .paint {
    display: none;
  }
}

@media (max-width: 550px) {
  .all-gallery {
    width: 80%;
  }

  .all-gallery img {
    height: 240px;
  }
}

@media (max-width: 390px) {
  .all-gallery {
    width: 80%;
  }

  .all-gallery img {
    height: 180px;
  }

  .wedding img,
  .concert img,
  .others img {
    width: 180px;
    height: 120px;
  }
}

.portfolio-design {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 0px;
}

.design-details {
  width: 42%;
  padding-left: 50px;
}

.design-details span {
  font-size: 22px;
  margin-bottom: 6px;
  color: #3c0992;
}

.design-details h3 {
  font-size: 38px;
  margin-bottom: 17px;
  padding-right: 30px;
}

.design-details p {
  font-size: 17px;
  color: #6f6b80;
  padding-right: 30px;
}

.bar {
  width: 100%;
  height: 6px;
  background-color: gainsboro;
  border-radius: 15px;
  margin-bottom: 20px;
}

.marker {
  font-size: 17px !important;
  color: black !important;
}

.concert-number {
  font-size: 17px !important;
  left: 34%;
  position: absolute;
  animation: progress-1 2s ease-in-out 0.5s 3;
}

@keyframes progress-1 {
  0% {
    left: 15%;
  }

  100% {
    left: 34%;
  }
}

.bar-orange {
  align-items: center;
  width: 85%;
  height: 6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: orangered;
  animation: marker-1 2s ease-in-out 0.5s 3;
}

@keyframes marker-1 {
  0% {
    width: 20%;
  }

  100% {
    width: 85%;
  }
}

.wedding-number {
  font-size: 17px !important;
  left: 38%;
  position: absolute;
  animation: progress-2 2s ease-in-out 0.5s 3;
}

@keyframes progress-2 {
  0% {
    left: 15%;
  }

  100% {
    left: 38%;
  }
}

.bar-green {
  align-items: center;
  width: 95%;
  height: 6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: green;
  animation: marker-2 2s ease-in-out 0.5s 3;
}

@keyframes marker-2 {
  0% {
    width: 15%;
  }

  100% {
    width: 95%;
  }
}

.others-number {
  font-size: 17px !important;
  left: 30.5%;
  position: absolute;
  animation: progress-3 2s ease-in-out 0.5s 3;
}

@keyframes progress-3 {
  0% {
    left: 15%;
  }

  100% {
    left: 30.5%;
  }
}

.bar-blue {
  align-items: center;
  width: 75%;
  height: 6px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: blue;
  animation: marker-3 2s ease-in-out 0.5s 3;
}

@keyframes marker-3 {
  0% {
    width: 15%;
  }

  100% {
    width: 75%;
  }
}

.portfolio-video {
  width: 40%;
  position: relative;
  display: flex;
  /* justify-content: center; */
}

.portfolio-video video {
  height: 480px;
}

@media (max-width: 1040px) {
  .portfolio-design {
    width: 100%;
    top: 70px;
    position: relative;
    padding: 0;
  }

  .design-details {
    width: 100%;
    padding: 30px;
  }

  .design-details span {
    font-size: 20px;
  }

  .design-details h3 {
    font-size: 35px;
    padding-right: 0px;
  }

  .concert-number {
    left: 80%;
    position: absolute;
    animation: progress-1 2s ease-in-out 0.5s 3;
  }

  @keyframes progress-1 {
    0% {
      left: 20%;
    }

    100% {
      left: 80%;
    }
  }

  .wedding-number {
    left: 90%;
    position: absolute;
  }

  @keyframes progress-2 {
    0% {
      left: 20%;
    }

    100% {
      left: 90%;
    }
  }

  .others-number {
    left: 70%;
    position: absolute;
  }

  @keyframes progress-3 {
    0% {
      left: 20%;
    }

    100% {
      left: 70%;
    }
  }

  .design-image {
    width: 40%;
    left: 0;
    right: 0;
    padding-left: 30px;
    position: relative;
  }

  .design-image img {
    height: 300px;
  }
}

.img-responsive {
  min-width: 200px;
  max-width: 100%;
  max-height: auto;
}

@media (max-width: 768px) {
  .portfolio-design {
    top: 40px;
    position: relative;
  }

  .design-details {
    width: 100%;
    padding: 10px;
  }

  .design-image {
    padding-left: 10px;
  }

  .design-image img {
    height: 300px;
  }
}
